*{
    border:0;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

.container{
    width: 1440px;
    height: 1024px;
    margin-inline: auto;
    max-width: 1250px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
   
}

.headline{
   
position: absolute;
top:15%;
left:25%;



}
.headline span{
    color:lightgray;

}
.row{
    display: flex;
}

.left-col{
    display: flex;
    flex-direction: column;
    width:541px;
    
}

.img-container {
    width: 100%;
    height: fit-content;
}

.img-container img{
   width:100%;
   height: 725px;
   margin-inline: auto;

    
}
.para-and-btn{
    
    
}
.para-and-btn p{
    color: #06040A;
text-align: justify;
font-weight: 300;
padding: 10px;
font-size: 1.2rem;
}

.para-and-btn button{
    padding: 15px 40px;
    border-radius: 20px;
    
    margin: 10px auto;
    background-color: #000;
    color:white;
}

/* right col */
.right-col{
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-end;
    height: 100%;
    padding-top:300px;
    position: relative;

}

.image-row,.number-card{
    width: 100%;
    display: flex;
    gap:5px;
    margin-top:20px
 

}

.number-card{
    border:solid 2px #000;
    justify-content:space-between;
    align-items: flex-end;
    padding: 5px;
    border-radius: 10px;
    height: 200px;

}

.image-row{
    gap:20px;
}

.circle{
    border: solid 2px #3c3838;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    right: 40%;
    top:25%;
    z-index: 5;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img{
    width: 40%;
    height: auto;
}

.number-card h3 {
    font-family: 'Times New Roman';
    font-weight: bolder;
}

.number-card p {
   font-family:  Helvetica;
}